<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'style.css' %}">
</head>
<body>
    <h2>Book List</h2>
    <br>
    <a href="{% url 'book_create' %}">Add new Book </a>
    <br>
    <table border="'1">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.price}}</td>
            <td>
                
                <a href="{% url 'book_update' book.id %}">Edit</a>
                <a href="{% url 'book_delete' book.id %}">Delete</a>

            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>